@using YubikStudioCore.Localization
 
<template id="indexfooter">
    <div class="row mt-3">
        <div class="col-12">
            <h3 class="text-dark ms-3">@L.T("Yubik.Localize.AdvancedFunctionality", "Advanced Functionality")</h3>
        </div>
        @* HOME *@
        <div class="col col-md-4 col-lg-4 mb-3 d-xl-flex justify-content-xl-center align-items-xl-center">
            <a class="card w-100 h-100 shadow border-primary border-0 border-left-show cursor-pointer hover-color" href="https://docflowdemo01.service.docflow.it/poc/kering/audits.html" target="_blank">
                <div class="card-body top-card-custom">
                    <span class="d-none badge badge- position-absolute" style="right: 1em;top: 1em;"></span>
                    <div class="row text-primary pb-3">
                        <div class="col-md-12 text-center text-primary">
                            <i class="fa-solid fa-chart-pie"></i>
                        </div>
                    </div>
                    <div class="row text-primary">
                        <div class="col-md-12 text-center">
                            <span class="font-weight-bold h5">Dashboard</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="text-justify font-weight-bold h6 text-muted">Go to kpi analytics report</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-md-4 col-lg-4 mb-3 d-xl-flex justify-content-xl-center align-items-xl-center">
            <a class="card w-100 h-100 shadow border-primary border-0 border-left-show cursor-pointer hover-color" href="https://docflowdemo01.service.docflow.it/poc/kering/commaudits.html" target="_blank">
                <div class="card-body top-card-custom">
                    <span class="d-none badge badge- position-absolute" style="right: 1em;top: 1em;"></span>
                    <div class="row text-primary pb-3">
                        <div class="col-md-12 text-center text-primary">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                    </div>
                    <div class="row text-primary">
                        <div class="col-md-12 text-center">
                            <span class="font-weight-bold h5">Committee Dashboard</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="text-justify font-weight-bold h6 text-muted">Go to other dash</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>